.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal {
    position: relative;
    background: var(--primary);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    color: white;
    text-align: center;
    max-width: 500px;
    border: 1px solid white;
}

.header{
    display: flex;
}

.title{
    font-size: 20px;
    font-weight: 600;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.closeButton {
    position: absolute;
    top: -20px;
    right: -20px;
    background-color: var(--primary);
    padding: 6px 12px;
    border: none;
    font-size: 30px;
    font-weight: bold;
    border-radius: 100px;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    line-height: 1;
}

.closeButton:hover{
  color: var(--secundary);
  border: 1px solid var(--secundary);
}

.closeButton:focus {
    outline: 2px solid #1976d2;
    outline-offset: 2px;
}

.buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}


.butonPrimary{
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: var(--secundary);
    border: 2px solid white;
    border-radius: 5px;
    width: 100px;
    cursor: pointer;
}

.butonPrimary:hover{
    background: white;
    color: var(--secundary);
}

.butonSecundary{
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 600;
    color: var(--secundary);
    background: white;
    border: 2px solid white;
    border-radius: 5px;
    width: 100px;
    cursor: pointer;
}

.butonSecundary:hover{
    background: var(--secundary);
    color: white;
}