.tooltipFloating{
  position: fixed;
  border: 3px solid #1596b7;
  background-color: rgba(57, 198, 235, 0.9);
  color: #fff;
  padding: 4px 8px;
  border-radius: 6px;
  white-space: nowrap;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  z-index: 900;
}